<div class="adDiaryMain">
<div class="adDiaryMain__buttonContainer">
   <h1>Дневник контроля артериального давления</h1>
   <img src="/assets/logo.png" class="adDiaryMain__buttonContainer__logo"/>
   <div class="adDiaryMain__buttonContainer__btns">
      <a href="/registration" class="adDiaryMain__buttonContainer__btns_button">Регистрация</a>
      <a href="/diary/1" class="adDiaryMain__buttonContainer__btns_button">Перейти в дневник</a>
      <a href="/diary/1" class="adDiaryMain__buttonContainer__btns_button">Демо</a>
   </div>
</div>

<div class="adDiaryMain__firstInfo">
   <div class="adDiaryMain__firstInfo__block">
   <h2>Зачем нужен дневник АД</h2>
   <p>
   Дневник самоконтроля артериального давления служит для регистрации показаний давления в течение времени в домашних условиях.
   Регулярные записи значений АД очень полезны для врача. На их основе он может скорректировать назначенное пациенту лечение.
   Благодаря такому дневнику врач может оценить изменения АД при воздействии на организм
   стресса, смены погоды.
   Гипертензия требует постоянного контроля, поскольку колебание показателей АД влияет на
   течение заболевания, общее состояние и методы лечения.
   Заполненный «Дневник контроля артериального давления» приносите на каждый прием к
   врачу-терапевту, кардиологу.
   </p>
   </div>
   <div class="adDiaryMain__firstInfo__block">
   <h2>Почему электронный дневник</h2>
   <ul>
   <li>Доступен всегда, с любого компьютера, телефона</li>
   <li>Удобно заполнять</li>
   <li>Сам считает средние показатели АД</li>
   <li>Подсвечивает дни, когда давление было высоким</li>
   <li>Удобно просматривать измерения</li>
   <li>В любой момент его можно превратить в бумажный вариант. Сохраните на компьютер или распечатайте.</li>
   <li>Можно кинуть ссылку на ваш дневник. Удобно при онлайн консультации с врачом.</li>
   </ul>
   </div>
</div>
<div class="adDiaryMain__infoBlock">
<h2>Правила заполнения дневника</h2>
<ul>
<li>Не забудьте указать свой возраст и пол</li>
<li>Измерять артериальное давление нужно в те промежутки времени, которые указаны в дневнике. Обязательным является измерение утром и вечером. [всплывашка с временем измерения]</li>
<li>Нельзя допускать пропусков измерений. В противном случае не удастся отследить верную</li>
динамику развития болезни.
<li>в конце месяца необходимо подводить итог всех записей, внесенных в дневник в течение</li>
этого периода. Обязательно вычисляется среднее значение нижнего и верхнего артериального
давления.
<li>желательно заполнять графу «Лекарства». Сюда вносятся абсолютно все медикаментозные</li>
средства, которые принимает пациент. Также не следует забывать указывать дозировку
лекарства и продолжительность его приема;
<li>если Вы пропустили приём лекарств или принимали любые дополнительные таблетки,
обязательно укажите это в графе «Лекарства».</li>
</ul>
</div>
<div class="adDiaryMain__infoBlock">
<h2>Правила измерения давления</h2>
<ul>
<li>Измерение нужно проводить сидя (опираясь на спинку стула, с расслабленными и не скрещенными ногами, рука лежит на столе, на уровне сердца), в спокойной обстановке, после 5 минутного отдыха. Во время измерения не следует активно двигаться и разговаривать. Измерение АД в особых случаях можно проводить лежа или стоя.</li>
<li>Рука с надетой манжетой, должна быть отведена от тела, чтобы манжеты ничего не касалось (если не соблюдать это условие, будет большой разброс в показателях).</li>
<li>Во время измерений можно смотреть на дисплей прибора, нельзя смотреть телевизор, разговаривать.</li>
<li>Перед измерением не менее 5 минут находиться в спокойном состоянии (желательно в покое сидя). Если были интенсивная нагрузка или выход на улицу – измерение проводить не менее чем через 15 минут после прекращения нагрузки.</li>
<li>Перед измерением АД в течение 1 часа нельзя курить, пить кофе, использовать препараты группы адреномиметиков (в т.ч. нафтизин в каплях в нос, эфедрин и его производные), испытывать большие физические нагрузки.</li>
<li>Не менее чем через 30 минут после еды.</li>
<li>При первичном измерении следует определить АД на обеих руках и в дальнейшем измерять АД на той руке, где давление было выше. (Разница АД на руках до 10-15 мм рт. ст. нормальна.)</li>
<li>Начало измерения артериального давления Манжету тонометра устанавливают на средней части плеча. Правильно подобранная и установленная манжета должна закрывать более 2/3 длины плеча. Нижний край манжеты должен находиться на расстоянии 2,5 см от верхнего края локтевой ямки (ширина двух пальцев). Трубки, по которым в манжету подается воздух, должны проходить прямо по срединной линии плеча – это важно для получения правильных результатов измерения. Не стоит затягивать манжету слишком туго, между манжетой и плечом должен помещаться палец. Положение руки (на столе ли поручне) и положение манжеты нужно подобрать таким образом, чтобы манжета располагалась на уровне сердца.</li>
<li>Во время работы тонометра нужно сохранять спокойное положение, не двигать рукой, не разговариваться, не волноваться. После получения окончательных результатов манжету тонометра снимают. Повторное измерение можно провести через 5 минут.</li>
</ul>
</div>

<div class="adDiaryMain__infoBlock">
<h2>Время измерений</h2>

Обязательные измерения
<ul>
<li>Сразу после пробуждения (можно сходить в туалет, помыть руки, но не умываться)</li>
<li>Непосредственно перед сном (после приготовления ко сну, умывания)</li>
</ul>
Желательно
<ul>
<li>В 14 и в 18 часов (или в обеденный перерыв и после работы)</li>
<li>При изменении самочувствия.</li>
<li>Каждые 2 часа (по отдельному указанию врача).</li>
</ul>

</div>
<div class="adDiaryMain__infoBlock">
<h2>Более подробную информацию читайте</h2>
<p>
<a href="http://www.minzdrav.saratov.gov.ru/doc/detail.php?ID=23382">http://www.minzdrav.saratov.gov.ru/doc/detail.php?ID=23382</a>
МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ

ПРИКАЗ
от 24 января 2003 г. N 4

О МЕРАХ ПО СОВЕРШЕНСТВОВАНИЮ ОРГАНИЗАЦИИ
МЕДИЦИНСКОЙ ПОМОЩИ БОЛЬНЫМ С АРТЕРИАЛЬНОЙ ГИПЕРТОНИЕЙ
В РОССИЙСКОЙ ФЕДЕРАЦИИ
</p>
</div>
<div class="adDiaryMain__infoBlock">
<h2>Таблица норм</h2>
<p>
Более детально рассмотреть нормы давления для каждой возрастной группы позволяет следующая таблица:
</p>
<table>
   <tr><td>Возрастной показатель</td><td>Мужской пол</td><td>Женский пол</td></tr>
   <tr><td>До 20 лет</td><td>110/75</td><td>100/70</td></tr>
   <tr><td>До 30 лет</td><td>125/79</td><td>120/76</td></tr>
   <tr><td>От 30 до 40 лет</td><td>130/80</td><td>126/80</td></tr>
   <tr><td>От 40 до 50 лет</td><td>136/85</td><td>138/86</td></tr>
   <tr><td>От 50 до 60 лет</td><td>141/85</td><td>145/85</td></tr>
   <tr><td>Более 70 лет</td><td>144/80</td><td>160/85</td></tr>
</table>
</div>
<div class="adDiaryMain__footer"></div>
</div>
