.logo {
    background-color: #00000063;
    height: 58vmax;    
    text-align: center;
    /*background-image: url(./img/logo_400_240.jpg);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: center;*/
}

.button-panel {
    margin-top: 20px;
}

.info-block {
    text-align: center;
}

.device-features {
    text-align: left;
}

.feature-icon {
    font-size: 60px;
    margin: 12px 0;
}

@media screen and (min-width: 768px) {
    .logo {
        background-image: url(./img/logo_1600_900.jpg);
        background-blend-mode: color;
        background-repeat: no-repeat;
        background-position: center;
        height: 46vmax;
        max-height: 450px;
    }
}

.logo h2 {
    color: white;
}

.registration-panel {
    text-align: left;
    color: white;    
    max-height: 340px;
}

.title-panel {
    max-height: 149px;
}

.top-panel {
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

.footer-block {
    background-color: currentColor;
    margin-top: 12px;
}

.footer-button-container {
    margin-top: 8px;
}