.ConstructWarning {
   height: 100px;
   width: 300px;
   background-color: #7fc371;
   border: 1px solid black;
   margin: 100px calc(50% - 100px);
}

.ConstructWarning p {
   margin-left: 49px;
   margin-top: 28px;
}